
#projectBox {
  box-shadow: 1px 2px 4px grey;
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  width: 460px;
  background: linear-gradient(170deg, rgba(255,255,255,0.8),rgba(0,0,0,0.1));
  margin: 0 auto;
  position: relative;
  transform: translateY(+50%);
}

.indicator {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: rgba(125,0,0,.8);
  /*margin-left: -2px;*/
  border-radius: 50%;
  border: 4px rgba(0,0,0,0.1) solid;
}
.lightOn {
  background-color: rgba(255,0,0,.8);
  box-shadow: rgba(255, 0, 0, 0.2) 0 0px 7px 6px
}

.indicatorRow {
  margin-left: 6px;
}

.switchRow {
  padding-top: 10px;
  margin-left: 50px;
  width: 100%;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 34px;
  margin-left: 10px;
}


/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-26px);
  -ms-transform: translateY(-26px);
  transform: translateY(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: red;
}
.sourceCode {
  position: relative;
  transform: translateY(+200px);
  margin: 0 auto;
  padding-left: 85px;
  width: 200px;
  vertical-align: top;
  /*line-height: 1;*/

}
.sourceCode img {
  vertical-align: top;
}